@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  --color-green: #81d656;
  margin: 0;
}

.App {
  text-align: center;
}

.main {
  width: 95%;
  margin: auto;
}

.button {
  padding: 8px 16px;
  font-size: .7rem;
  background-color: var(--color-green);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border: 2px solid black;
  border-radius: 4px;
  padding: 6px 14px;
}


/* HEADER */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-div {
  width: 65%;
}

.logo {
  width: 100%;
}

.header-div {
  margin-right: 5%;
}


/* HOME */


.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 50px auto;
}

.home a {
  width: 43%;
  border: 3px solid black;
  border-radius: 12px;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  padding: 10px;
}

.home a:focus,
.home a:hover {
  background-color: var(--color-green);
  color: black;
}

.home img {
  width: 50%;
  margin: 15px;
}

.home h4 {
  font-size: 1rem;
}

/* NAVIGATION */

.navigation {
  width: 100%;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  margin-top: 20px;
}

.navigation-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.navigation-div a {
  width: 15%;
  border: 2px solid black;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  padding: 4px;
}

.navigation-div img {
  width: 70%;
}

#plus-icon-navigation {
  width: 40%;
  margin-top: 15%;
}

.active {
  background-color: var(--color-green);
}


/* WELCOME */


.welcome {
  width: 70%;
  margin: 50px auto;
}

.welcome p {
  margin: 40px auto;
}

.welcome-btn {
  font-size: 1rem;
  padding: 12px 22px;
}

.welcome-btn:hover,
.welcome-btn:focus {
  padding: 10px 20px;
}


/* SEARCH */


.search-div {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 40px;
  border-radius: 4px;
  margin: 0 auto 30px;
}

.search-input {
  width: 80%;
  border-radius: 4px 0 0 4px;
  border: 1px solid black;
  padding: 10px 16px;
  font-size: 1.1rem;
}

.search-btn {
  width: 25%;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  border: 1px solid black;
  border-left: none;
  padding: 1px;
  font-size: 14px;
  background-color: var(--color-green);
}

.searchIcon {
  width: 25px;
  height: 25px;
}


/* SHOPS-LIST */


.shops-list {
  width: 100%;
  margin: 20px 0;
  font-size: .8rem;
}

.shops-list a {
  color: black;
  cursor: pointer;
}

.shops-list a:hover,
.shops-list a:focus {
  color: black;
}

.shops-list tr:hover,
.shops-list tr:focus  {
  background-color: var(--color-green);
}

.shops-list thead tr:hover,
.shops-list thead tr:focus {
  background-color: white;
}

td {
  width: 25%;
}


/* SEARCH-BY-PLACE */


.search-by-place .button {
  margin: 1px;
  padding: 5px;
}

.prov {
  margin-top: 10px;
}

.prov .button {
  background-color: #a4f87a;
}


/* FORM */


.form {
  margin: 30px auto;
  width: 95%;
}

.form-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-div-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-div-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-btn {
  width: 50%;
  font-size: 1rem;
}

/* .form-business-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
} */

.form-business-div {
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 4px) calc(50% - 4px);
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 4px;
  column-gap: 8px;
  margin-top: 10px;
}

.form-business-div label {
  /* width: calc(50% - 10px); */
  width: 100%;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  /* margin: 10px 0 10px 10px; */
  /* border: 2px solid black;
  border-radius: 4px; */
}

.form-business-div label div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  font-size: .9rem;
  margin-left: 10px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-business-div span {
  position: absolute;
  border: 1px solid black;
  border-radius: 4px;
  width: 40px;
  height: 25px;
  text-align: center;
}

label {
  text-align: left;
  width: 100%;
}


.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 0 8px;
  padding: 9px;
  font-size: 1rem;
}

.form input[type="radio"] {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 20px;
  z-index: 10;
  opacity: 0;
}

.radio-si {
  left: -5px;
  top: 3px;
}

.radio-no {
  left: 50px;
  top: 3px;
}

.radio-span.si {
  left: -5px;
  top: 3px;
}

.radio-span.no {
  left: 50px;
  top: 3px;
}


.form-business-div input[class="radio-si"]:checked ~ .radio-span.si,
.form-business-div input[class="radio-no"]:checked ~ .radio-span.no {
  background-color: var(--color-green);
}

.textarea {
  width: 100%;
  height: 110px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 0 8px;
  padding: 9px;
  font-size: 1rem;
  resize: none;
}

.datepicker-div label {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

input[type="date"] {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
}

.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus {
  outline: none !important;
  border: 3px solid var(--color-green);
  padding: 8px;
}

.textarea:focus {
  outline: none !important;
  border: 3px solid var(--color-green);
  padding: 8px;
}

.input-div {
  position: relative;
  width: 100%;
}

.input-arrow-div {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 5px;
  cursor: pointer;
}

.input-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(45deg);
  transform: rotate(45deg);
}

.dropdown-div {
  width: 100%;
  position: relative;
}

#dropdown {
  border: 2px solid var(--color-green);
  border-bottom: none;
  border-top: none;
  border-radius: 4px;
  width: 100%;
  margin-top: -8px;
  position: absolute;
  background-color: white;
  display: none;
  z-index: 10;
}

#dropdown.visible {
  display: block;
}

.dropdown-option {
  height: 2rem;
  border-bottom: 2px solid var(--color-green);
  display: flex;
  padding-left: 10px;
  padding-top: .4rem;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: var(--color-green);
}

.dropdown:after {
  position: absolute;
  content: "";
  bottom: -40px;
  height: 40px;
  width: 1px;
}

.input-clear-div {
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
}

.submit-confirmation {
  margin: 40px;
  text-decoration: underline;
  text-decoration-color: var(--color-green);
}


/* ADVANCED SEARCH */

.new-search-btn {
  width: 50%;
  font-size: 1rem;
}


/* CLIENTS-LIST */


.clients-list {
  width: 95%;
  margin: auto;
}

.list-filter input {
  width: 100%;
  border: 2px solid black !important;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

.list-filter input:focus {
  outline: none;
  border: 3px solid var(--color-green) !important;
  padding: 3px;
}

.list-filter #dropdown {
  margin-top: 0;
}

.list-filter .input-arrow-div {
  top: 58%;
  right: 7px;
}

.list-filter .input-clear-div {
  top: 60%;
  right: 20px;
}

.list-filter.clients {
  margin-left: 0;
  width: 55%;

}

.clients-list-selectors {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 30px auto;
  justify-content: center;
}

.clients-list-sort {
  width: 36px;
  height: 36px;
  background-color: var(--color-green);
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
}

.clients-list-sort img {
  width: 70%;
  margin: auto;
}


/* LAST ADDED SHOPS */


.last-added {
  width: 95%;
  margin: auto;
}

.list-filter.last {
  width: 55%;
  margin: 30px auto;
}



/* ADD SHOP */


.add-shop {
  width: 95%;
  margin: auto;
}


/* SHOP */


.shop {
  width: 95%;
  margin: auto;
}

.shop-div {
  text-align: left;
  margin: 20px;
}

.shop h3 {
  margin-bottom: 30px;
}

.shop-btns {
  margin: 20px auto;
}

.shop-btns .button {
  font-size: 1rem;
  margin: 2px;
}

.shop-business-div {
  display: flex;
  flex-direction: column;
}

.shop-business-div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.shop-business-div div div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .shop-business-div div div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

.span-client {
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 4px;
  width: 40px;
  height: 25px;
  text-align: center;
  margin-right: 30px;
  font-size: .9rem;
}

.span-client.si {
  background-color: var(--color-green);
}

.span-client.no {
  background-color: #c5c5c5;
}

#shop-business-div-contattato {
  display: flex;
  flex-direction: column;
}

#ultimo-contatto-div {
  width: 100%;
}

#ultimo-contatto-div span {
  margin-left: 20px;
}


/* ORDERS HISTORY */


.orders-history {
  width: 95%;
  margin: auto;
}

.orders-history a {
  color: var(--color-green);
  cursor: pointer;
  text-decoration: none;
}

.orders-history h4 {
  margin: 30px;
}

.add-order-btn {
  font-size: 1rem;
  margin: 30px;
  padding: 12px 22px;
}

.add-order-btn:hover,
.add-order-btn:focus {
  padding: 10px 20px;
}


/* ADD ORDER FORM */


.form-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
}

.form-orders-div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-orders-div label {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-orders input[type="date"] {
  width: 100%;
  background-color: white;
}

.form-orders input[type="text"] {
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 0 8px;
  padding: 5px;
}

.form-orders-btn {
  margin: 30px auto 30px;
  padding: 12px 22px;
  font-size: 1rem;
  background-color: var(--color-green);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-orders-btn:hover,
.form-orders-btn:focus {
  border: 2px solid black;
  padding: 10px 20px;
}


/* SIGN IN */


.sign-in-div {
  width: 70%;
  margin: 50px auto;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
} 

.sign-in-form input {
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 0 8px;
  padding: 5px; 
  background-color: white;
}


/* ERRORS */


.validationErrors {
  margin: 30px;
  color: rgb(201, 5, 5);
  font-size: 1.2rem;
}

.error-btn {
  margin: 30px auto 30px;
  padding: 12px 22px;
  font-size: 1rem;
  background-color: var(--color-green);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.error-btn:focus,
.error-btn:hover {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px 20px;
}


/* MEDIA QUERIES */


@media only screen and (min-width: 481px) {

  .main {
    width: 80%;
  }

  .navigation-div {
    width: 75%;
  }

  .sign-in-div {
    width: 40%;
  }

  .home {
    width: 60%;
    margin: 50px auto;
  }
  
  .search-by-place .button {
    margin: 2px;
  }

  .shop-btns .button {
    font-size: 1rem;
    margin: 7px;
    padding: 10px 20px;
  }

  .shop-btns .button:focus,
  .shop-btns .button:hover {
    padding: 8px 18px;
  }

  .list-filter.last,
  .list-filter.clients {
    width: 40%;
  }

  #ultimo-contatto-div {
    width: 70%;
  }

  @media screen and (orientation:landscape) {

    .main {
      width: 70%;
    }

    .sign-in-div {
      width: 30%;
    }

    .home {
      width: 70%;
    }
    
    .home a {
      width: 30%;
    }

    .navigation-div {
      width: 60%;
    }

    .logo-div {
      width: 50%;
    }

    #ultimo-contatto-div {
      width: 60%;
    }

  }

}

@media only screen and (min-width: 769px) {

  .main {
    width: 70%;
    margin-bottom: 60px;
  }

  .navigation-div {
    width: 65%;
  }

  .sign-in-div {
    width: 30%;
  }

  .home {
    width: 70%;
    margin: 50px auto;
  }

  .home a {
    width: 30%;
  }

  .button {
    font-size: 1rem;
  }
  
  .search-by-place .button {
    padding: 8px 12px;
    font-size: 1rem;
  }

  .search-by-place .button:hover,
  .search-by-place .button:focus {
    padding: 6px 10px;
  }

  .list-filter.last,
  .list-filter.clients {
    width: 35%;
  }

  .logo-div {
    width: 50%;
  }

  #ultimo-contatto-div {
    width: 50%;
  }

  @media screen and (orientation:landscape) {

    .main {
      width: 60%;
    }

    .sign-in-div {
      width: 25%;
    }

    .home {
      width: 60%;
    }
    
    .home a {
      width: 30%;
    }

    .navigation-div {
      width: 50%;
    }

    .logo-div {
      width: 40%;
    }

  }

}


@media only screen and (min-width: 1025px) {

  .main {
    width: 70%;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  header {
    margin-top: 20px;
  }

  .navigation {
    border-bottom: 3px solid black;
  }

  .navigation-div {
    width: 40%;
    margin-bottom: -3px;
  }

  .navigation-div a {
    border: 3px solid black;
    padding: 5px;
  }

  .sign-in-div {
    width: 20%;
  }

  .login-btn.button {
    padding: 8px 22px;
  }

  .login-btn.button:hover,
  .login-btn.button:focus {
    padding: 6px 20px;
  }

  .home {
    width: 65%;
    margin: 50px auto;
  }

  .home a {
    width: 15%;
  }

  .home img {
    width: 3rem;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .home h4 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .button {
    font-size: 1.1rem;
    padding: 12px 22px;
  }

  .button:focus,
  .button:hover {
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px 20px;
  }

  .search-div {
    width: 30%;
    height: 45px;
  }

  .form-div {
    flex-direction: row;
    width: 80%;
    margin: 20px auto 50px;
  }

  .form-div-1,
  .form-div-2 {
    width: 48%;
  }

  .form-btn {
    width: 30%;
  }

  .shop-div {
    font-size: 1.1rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px auto 0;
  }

  .shop-info,
  .shop-business {
    width: 48%;
  }

  .shop-btns .button {
    font-size: 1rem;
    width: 13%;
    margin: 10px;
    padding: 12px 22px;
  }

  .shop-btns .button:focus,
  .shop-btns .button:hover {
    padding: 10px 20px;
  }

  #ultimo-contatto-div {
    width: 70%;
  }

  .list-filter.last,
  .list-filter.clients {
    width: 20%;
    margin-left: 80%;
  }

  .logo-div {
    width: 25%;
    margin-left: 80px;
  }

  .shops-list {
    font-size: 1rem;
    margin: 50px auto;
  }

}